http_address="0.0.0.0:4180"
cookie_secret="OQINaROshtE9TcZkNAm-5Zs2Pv3xaWytBmc5W7sPX7w="
email_domains="example.com"
cookie_secure="false"
upstreams="http://aion"
cookie_domains=["oauth2-proxy.localtest.me:4080", "aion.localtest.me:8080", "keycloak.localtest.me:9080"] # Required so cookie can be read on all subdomains.
whitelist_domains=[".localtest.me","oauth2-proxy.localtest.me:4080", "makina.localtest.me:8080", "keycloak.localtest.me:9080"] # Required to allow redirection back to original requested target.

# keycloak provider
client_secret="72341b6d-7065-4518-a0e4-50ee15025608"
client_id="oauth2-proxy"
redirect_url="http://oauth2-proxy.localtest.me:4180/oauth2/callback"

# in this case oauth2-proxy is going to visit
# http://keycloak.localtest.me:9080/realms/oauth2-proxy/.well-known/openid-configuration for configuration
oidc_issuer_url="http://keycloak.localtest.me:9080/realms/oauth2-proxy"
provider="oidc"
provider_display_name="Keycloak"

cookie_refresh = "1h"
cookie_expire = "24h"
cookie_samesite = "lax"
set_xauthrequest = true
set_authorization_header = true
pass_authorization_header = true
pass_user_headers = true
pass_host_header = true
pass_access_token = true
skip_jwt_bearer_tokens = true
skip_provider_button = true
silence_ping_logging = true
